.title {
    background-color: rgb(206, 102, 102);
    padding: 20px 0px ;
    text-align: center;
    font-size: 30px;
    margin: 0px 0px 50px 0px;
} 

.desc{
    background-color: rgb(231, 183, 171);
    padding: 20px 0px;
    text-align: center;
    font-size: 30px;
}